[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
pytest = "*"
pytest-metadata = "*"
python-dotenv = "*"
requests = "*"
mimesis = "*"
pytest-loop = "*"

[dev-packages]
pytest-execution-timer = "*"

[requires]
python_version = "3.12"
